<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: linear-gradient(45deg, cyan, rgb(51, 128, 0));
        }
    </style>
</head>

<body>
    <header>
        <h1>PROJETO INICIAL PARA CRIAÇÃO DO SITE</h1>
        <p>Esse site será desenvolvido utilizando o framework Flask.</p>
        <a href="contatos">Contatos</a>
        <a href="login">Login</a>
    </header>
</body>



</html>