<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        body {
            background-image: linear-gradient((45deg, yellow, cyan));
        }
    </style>
</head>

<body>
    <header>
        <h1>PROJETO INICIAL PARA CRIAÇÃO DO SITE</h1>
        <p>Esse site será desenvolvido utilizando o framework Flask.</p>
        <a href="contatos">Contatos</a>
    </header>
</body>



</html>