<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: black;
        }

        h1 {
            text-align: center;
            color: white;
        }

        p {
            text-align: center;
            color: aqua;
        }
    </style>
</head>

<body>
    <h1>Esse é meu teste com flask para desenvolvimento de site.</h1>
    <p>Esse é o meu primeiro site utilizando o framework Flask.</p>
    <p>Me chamo Melk Azevedo, tenho 24 anos e sou estudante de ADS.</p>
</body>

</html>