<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="templates/styles.css" media="screen" />
    <title>Login</title>
</head>

<body>
    <header>
        <div class="login">
            <h1>Página de Login</h1>
            <a href="/">Homepage</a>
        </div>
    </header>
    <main>
        <form>
            <label for="">Digite seu e-mail:</label>
            <input type="text" class="boxTxt" value="E-mail">
            <label for="">Digite a sua senha:</label>
            <input type="password" class="boxTxt" value="Senha?">
            <input type="button" class="btnLogin" value="Clique Aqui para Fazer Login">
        </form>
    </main>
</body>

</html>