<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_login.css">
    <title>Login</title>
</head>

<body>
    <header>
        <div id="h-titulo">
            <h1>Página de Login</h1>
        </div>
    </header>
    <main>
        <form>
            <label for="">Usuário</label>
            <input type="text" class="boxTxt" value="">
            <label for="">Senha</label>
            <input type="password" class="boxTxt" value="">
            <input type="button" class="btnLogin" value="Login">
        </form>
    </main>
</body>

</html>