body {
    background-color: rgba(19, 161, 204, 0.842);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: black;
}

p {
    text-align: center;
    color: black;
}

* {
    margin: 0;
    padding: 0;

}

a {
    text-align: center;
    text-decoration: none;
    color: blue;
}