main {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 300px;
    height: auto;
    padding: 8px;
    border: 1px solid cadetblue;
    border-radius: 4px;
}

form label {
    display: block;
    width: 100%;
    padding: 5px 5px 5px 0;
    font-size: 22px;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form .boxTxt {
    width: 100%;
    height: 40px;
    font-size: 20px;
}

form .btnLogin {
    margin-top: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
    background-color: aquamarine;
    padding: 20px;
    color: white;
    font-weight: bold;
}